*{
    margin: 0;
    padding: 0;
}
html,body{color:#000;background:#fff;font:14px Verdana,Arial,sans-serif,"Times New Roman",ו;text-align:center;}
ul ol li{
    list-style: none;
}
img{
    border: none;
    vertical-align: middle;

}
a{
    text-decoration: none;
    color: #333;
}
